<!-- Header -->
<%- include("partials/header.ejs") %>

<section class="container my-5">
    <% posts.forEach((post, index) => { %>
        <article>
            <h2><%= post.title %></h2>
            <p> <%= post.content %></p>
            <a href="/edit/<%= index %>">Edit blog</a>
            <form action="/delete/<%= index %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        </article>
    <% }) %> 
</section>

<!-- Footer -->
<%- include("partials/footer.ejs") %>